.h1{
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 12px ;
    margin-left: 10px ;
}
.ol{
    color: #5F5F5F;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    margin-left: 91px;
}
.img{
    width: 186px;
    height: 109px;
    flex-shrink: 0;
    margin-left:79px ;
}
.p1{
    color: #5B5B5B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
u{
    color: #5B5B5B;
    font-family: Inter;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}


